<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="github private" value="https://nuget.pkg.github.com/alexpung/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="github private">
			<package pattern="Syncfusion.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>