@inherits LayoutComponentBase
@using BlazorApp_Investment_Tax_Calculator.Pages
@using BlazorApp_Investment_Tax_Calculator.Components

<div class="page">
    <div class="grid-container">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main class="content">
            @Body
            <ToastComponent />
        </main>
    </div>
</div>


<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'sidebar content';
    }

    .sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }
</style>

