@inherits LayoutComponentBase
@using InvestmentTaxCalculator.Pages
@using InvestmentTaxCalculator.Components

<div class="app-container">
    <NavMenu />
    <main class="main-content-wrapper">
        @Body
        <ToastComponent />
    </main>
</div>
