@using InvestmentTaxCalculator.Model
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using InvestmentTaxCalculator.ViewModel
@using InvestmentTaxCalculator.Model.Interfaces
@using Syncfusion.Blazor.Buttons
@using InvestmentTaxCalculator.Services
@using InvestmentTaxCalculator.Enumerations

@inject IJSRuntime JSRuntime
@inject ITradeAndCorporateActionList tradeList
@inject ToastService toastService
@inject InputGridDatas inputGridDatas

<div class="bg-dark text-light p-4">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col text-center">
                <h1 class="display-4">Add Trade</h1>
            </div>
        </div>

        <!-- Instructions and Descriptions Section -->
        <div class="alert alert-info" role="alert">
            <p class="mb-0"><strong>Column Descriptions:</strong></p>
            <ul>
                <li><strong>Asset Name:</strong> The name or title of the asset involved in the trade. Use the ticker symbol if there is one. e.g. GOOG, AAPL</li>
                <li><strong>Date:</strong> The date on which the trade was executed.</li>
                <li><strong>Quantity:</strong> The number of units of the asset traded.</li>
                <li><strong>Acquisition/Disposal:</strong> Indicates whether the trade was an acquisition (buy) or disposal (sell) of the asset.</li>
                <li><strong>Asset Category:</strong> The classification of the asset, future contracts have different calculation rules.</li>
                <li><strong>Gross Proceeds:</strong> This is the amount you paid (for an acquisition)  or received (for a disposal) excluding commission and tax.</li>
                <li><strong>Commission:</strong> The fee charged by the broker or platform for executing the trade.</li>
                <li><strong>Tax Amount:</strong> The total tax levied on the trade.</li>
                <li><strong>Contract Value Amount:</strong> This is for a future contract only. This is the total value of the trade contract in the contract currency.</li>
                <li><strong>Description:</strong> Additional details or notes about the trade.</li>
            </ul>
            <hr>
            <ul>
                <li><strong>Currency:</strong> The 3-letter ISO 4217 code for the currency for the corresponding items.</li>
                <li><strong>Exchange rate:</strong> The exchange rate used to convert the local currency to Sterling for the corresponding items.</li>
            </ul>
        </div>

        <div class="control-section mt-4">
            <div class="content-wrapper">
                <div class="row">
                    <SfGrid ID="AddTradeGrid" @ref="_addTradeGrid" DataSource="@inputGridDatas.TradeInputViewModels" Toolbar="@(new List<string> { "Add", "Delete", "Update", "Cancel" })"
                            AllowPaging="true" AllowTextWrap=true>
                        <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                        <GridEvents OnActionBegin="OnActionBegin" TValue="TradeInputViewModel"></GridEvents>
                        <GridColumns>
                            <GridColumn Field=@nameof(TradeInputViewModel.Id) HeaderText="Id" Visible=false IsPrimaryKey=true></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.AssetName) HeaderText="Asset Name"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.Date) HeaderText="Date" EditType="EditType.DatePickerEdit" Format="d"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.Quantity) HeaderText="Quantity" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.AcquisitionDisposal) HeaderText="Acquisition/Disposal">
                                <EditTemplate>
                                    @{
                                        <SfDropDownList DataSource="@TradeTypeDropDownEnumValue" @bind-Value="DropDownSelectedTradeType"
                                                        TValue="TradeType" TItem="EnumDescriptionPair<TradeType>" Placeholder="Trade type">
                                            <DropDownListFieldSettings Value="EnumValue" Text="Description"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    }
                                </EditTemplate>
                            </GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.AssetType) HeaderText="Asset Category">
                                <EditTemplate>
                                @{
                                        <SfDropDownList DataSource="@AssetCatagoryDropDownEnumValue" @bind-Value="DropDownAssetCategoryType"
                                                        TValue="AssetCategoryType" TItem="EnumDescriptionPair<AssetCategoryType>" Placeholder="Asset Category Type">
                                            <DropDownListFieldSettings Value="EnumValue" Text="Description"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                }
                                </EditTemplate>
                            </GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.GrossProceedCurrency) HeaderText="Gross Proceeds Currency"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.GrossProceedExchangeRate) HeaderText="Gross Proceeds Exchange Rate" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.GrossProceed) HeaderText="Gross Proceeds" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.CommissionCurrency) HeaderText="Commission Currency"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.CommissionExchangeRate) HeaderText="Commission Exchange Rate" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.CommissionAmount) HeaderText="Commission Amount" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.TaxCurrency) HeaderText="Tax Currency"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.TaxExchangeRate) HeaderText="Tax Exchange Rate" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.TaxAmount) HeaderText="Tax Amount" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.ContractValueCurrency) HeaderText="Contract Value Currency"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.ContractValueExchangeRate) HeaderText="Contract Value Exchange Rate" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.ContractValueAmount) HeaderText="Contract Value Amount" EditType="EditType.NumericEdit"></GridColumn>
                            <GridColumn Field=@nameof(TradeInputViewModel.Description) HeaderText="Description"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                    <div class="col-12 mt-3 d-flex justify-content-center">
                        <SfButton OnClick="OnImportTrade">Import trade data</SfButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private SfGrid<TradeInputViewModel> _addTradeGrid = new();
    public TradeType DropDownSelectedTradeType { get; set; } = TradeType.ACQUISITION;
    public AssetCategoryType DropDownAssetCategoryType { get; set; } = AssetCategoryType.STOCK;
    public List<EnumDescriptionPair<AssetCategoryType>> AssetCatagoryDropDownEnumValue = [];
    public List<EnumDescriptionPair<TradeType>> TradeTypeDropDownEnumValue = [];

    protected override void OnInitialized()
    {
        TradeTypeDropDownEnumValue = EnumExtensions.GetEnumDescriptionPair<TradeType>(typeof(TradeType));
        AssetCatagoryDropDownEnumValue = EnumExtensions.GetEnumDescriptionPair<AssetCategoryType>(typeof(AssetCategoryType));
    }

    public void OnImportTrade()
    {
        int importCount = inputGridDatas.TradeInputViewModels.Count;
        foreach (TradeInputViewModel tradeInputViewModel in inputGridDatas.TradeInputViewModels)
        {
            tradeList.Trades.Add(tradeInputViewModel.Convert());
        }
        inputGridDatas.TradeInputViewModels.Clear();
        _addTradeGrid.Refresh();
        int newTradeCount = tradeList.Trades.Count;
        if (importCount >= 1)
        {
            toastService.ShowInformation($"{importCount} trade data added to system. New trade count: {newTradeCount}");
        }
        else
        {
            toastService.ShowError($"No trade data added. Table is empty. Trade count: {newTradeCount}.");
        }
    }

    public void OnActionBegin(ActionEventArgs<TradeInputViewModel> Args)
    {
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            Args.Data.AcquisitionDisposal = DropDownSelectedTradeType;
            Args.Data.AssetType = DropDownAssetCategoryType;
            var inputData = Args.Data;
            foreach(var error in inputData.ValidateError())
            {
                toastService.ShowError(error);
                Args.Cancel = true; // Save is cancelled and the dialog remains open
            }
            foreach (var warning in inputData.ValidateWarning())
            {
                toastService.ShowWarning(warning);
            }
        }
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
        {
            DropDownSelectedTradeType = Args.Data.AcquisitionDisposal;
            DropDownAssetCategoryType = Args.Data.AssetType;
        }
    }
}
