@using Syncfusion.Blazor.DropDowns
@using Enumerations

<div class="row mb-3">
    <div class="col-md-6">
        <label for="assetCategoryDropdown" class="form-label">Select asset category to display:</label>
        <SfDropDownList TValue="AssetCatagoryType"
                        TItem="string"
                        DataSource="@AssetCategoryValues"
                        @bind-Value="@SelectedAssetCatagoryType"
                        Placeholder="Select asset type to display"
                        CssClass="form-control"
                        ID="assetCategoryDropdown">
            <DropDownListEvents TValue="AssetCatagoryType" TItem="string" ValueChange="OnChange"></DropDownListEvents>
        </SfDropDownList>
    </div>
</div>

@code {
    public string[] AssetCategoryValues = Enum.GetNames(typeof(AssetCatagoryType));
    [Parameter]
    public AssetCatagoryType SelectedAssetCatagoryType { get; set; } = AssetCatagoryType.STOCK;
    [Parameter]
    public EventCallback<AssetCatagoryType> OnSelectCategoryCallBack { get; set; }

    private void OnChange()
    {
        OnSelectCategoryCallBack.InvokeAsync(SelectedAssetCatagoryType);
    }
}
