@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.ViewModel
@using InvestmentTaxCalculator.Model.TaxEvents
@using InvestmentTaxCalculator.Model.Interfaces
@using Syncfusion.Blazor.Grids
@using InvestmentTaxCalculator.Enumerations
@using System.Globalization
@using InvestmentTaxCalculator.Services
@inherits TaxCalculationRefreshComponentBase

@inject IDividendLists _dividendList
@inject SfGridToolBarHandlingService _toolbarHandlingService

<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Imported Dividends and Withholding Taxes</h3>
        </div>
    </div>

    <div class="row mt-3 me-3">
        <div class="col">
            <SfGrid ID="ImportedDividendGrid" @ref="importedDividendGrid" DataSource="@_dividendViewModels"
                    AllowPaging="true" AllowSorting="true" AllowPdfExport="true" AllowExcelExport="true" AllowResizing="true" AllowFiltering=true AllowTextWrap="true"
                    Toolbar="@(new List<string>() { "PdfExport", "ExcelExport", "Print"})">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                <GridPageSettings PageSizes=@(new List<int>() {25, 50, 100}) PageSize="25"></GridPageSettings>
                <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="DividendViewModel"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(DividendViewModel.Date) HeaderText="Date" Format="d"></GridColumn>
                    <GridColumn Field=@nameof(DividendViewModel.DividendType) HeaderText="Dividend/Withholding Tax"></GridColumn>
                    <GridColumn Field=@nameof(DividendViewModel.AssetName) HeaderText="Asset Name"></GridColumn>
                    <GridColumn Field=@nameof(DividendViewModel.CompanyLocaton) HeaderText="Company Location"></GridColumn>
                    <GridColumn Field=@nameof(DividendViewModel.SterlingAmount) HeaderText="Sterling Amount"></GridColumn>
                    <GridColumn Field=@nameof(DividendViewModel.Currency) HeaderText="Currency"></GridColumn>
                    <GridColumn Field=@nameof(DividendViewModel.LocalCurrencyAmount) HeaderText="Local Currency Amount"></GridColumn>
                    <GridColumn Field=@nameof(DividendViewModel.ExchangeRate) HeaderText="Exchange Rate"></GridColumn>
                    <GridColumn Field=@nameof(DividendViewModel.Description) HeaderText="Description"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>


@code {
    private SfGrid<DividendViewModel>? importedDividendGrid;
    private List<DividendViewModel> _dividendViewModels = [];

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (importedDividendGrid != null)
        {
            await _toolbarHandlingService.ToolbarClickHandler(args, importedDividendGrid);
        }
    }

    protected override void RefreshData()
    {
        _dividendViewModels = _dividendList.Dividends.Select(dividend => new DividendViewModel(dividend)).ToList();
    }

    protected override Task RefreshRenderedGridsAsync() => RefreshGridAsync(importedDividendGrid);
}
