@using Model;
@using Model.TaxEvents;
@using Model.Interfaces;
@using Syncfusion.Blazor.Grids;

@inject IDividendLists dividendList

<p>Imported Dividends and withholding taxes</p>

<SfGrid ID="ImportedDividendGrid" @ref="importedDividendGrid" DataSource="@dividendList.Dividends"
        AllowPaging="true" AllowSorting="true" AllowPdfExport="true" AllowExcelExport="true" AllowResizing="true"
        Toolbar="@(new List<string>() { "PdfExport", "ExcelExport", "Print" })" Height="1000px">
    <GridPageSettings PageSizes="true"></GridPageSettings>
    <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="Dividend"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(Dividend.Date) HeaderText="Date" Format="d"></GridColumn>
        <GridColumn Field=@nameof(Dividend.DividendType) HeaderText="Dividend/Withholding tax"></GridColumn>
        <GridColumn Field=@nameof(Dividend.AssetName) HeaderText="Asset Name"></GridColumn>
        <GridColumn Field=@nameof(Dividend.CompanyLocation) HeaderText="Company location"></GridColumn>
        <GridColumn Field=@(nameof(Dividend.Proceed) + "." + nameof(DescribedMoney.BaseCurrencyAmount)) HeaderText="Sterling Amount"></GridColumn>
        <GridColumn Field=@(nameof(Dividend.Proceed) + "." + nameof(DescribedMoney.Amount)) HeaderText="Local Currency Amount"></GridColumn>
        <GridColumn Field=@(nameof(Dividend.Proceed) + "." + nameof(DescribedMoney.Description)) HeaderText="Description"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    private SfGrid<Dividend> importedDividendGrid = new();

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "ImportedDividendGrid_pdfexport")  //Id is combination of Grid's ID and itemname
        {
            var pdfExportProperties = new PdfExportProperties()
            {
                PageOrientation = PageOrientation.Landscape,
                PageSize = PdfPageSize.A4
            };
            await importedDividendGrid.ExportToPdfAsync(pdfExportProperties);
        }
        if (args.Item.Id == "ImportedDividendGrid_excelexport")  //Id is combination of Grid's ID and itemname
        {
            await importedDividendGrid.ExportToExcelAsync();
        }
    }
}

