@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using InvestmentTaxCalculator.Services.PdfExport;

<div class="bg-dark text-light">
    <div class="row">
        <div class="col">
            <h3>Export Calculation Result to PDF</h3>
        </div>
    </div>

    <div>
        <h5>Active Sections</h5>
        <p>Drag and drop sections to change the order</p>
        <SfListBox @ref="SectionsSelection" TValue="string[]" AllowDragAndDrop="true" TItem="ISection"
                   DataSource="PdfExportService.AllSections" @bind-Value="PdfExportService.SelectedSections">
            <ListBoxFieldSettings Text="Name" Value="Name"></ListBoxFieldSettings>
            <ListBoxEvents TValue="string[]" TItem="ISection" Dropped="OnDropped" OnDrop="OnDrop"></ListBoxEvents>
            <ListBoxSelectionSettings ShowCheckbox="true" ShowSelectAll="true"></ListBoxSelectionSettings>
        </SfListBox>
    </div>

    <div class="row mt-3">
        <div class="col-md-4 mb-2">
            <SfButton @onclick="InvokeExportToPdf">Export to PDF</SfButton>
        </div>
    </div>
</div>
