@using Syncfusion.Blazor.Buttons
@using Microsoft.JSInterop;
@using Services

@inject IJSRuntime JS
@inject DividendExportService dividendExportService
@inject YearOptions years
@inject UkCalculationResultExportService calculationResultExportService
@inject UkSection104ExportService ukSection104ExportService

<h3>Export calculation result to files</h3>

<SfButton @onclick="InvokeExportDividend"> Export Dividends </SfButton>
<SfButton @onclick="InvokeExportTrades"> Export Trades </SfButton>
<SfButton @onclick="InvokeExportSection104"> Export Section104 </SfButton>

@code {
    private IJSObjectReference? _downloadFileJsScript;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _downloadFileJsScript = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/ExportFile.razor.js");
    }

    private async Task InvokeExportDividend()
    {
        string contents = dividendExportService.Export(years.SelectedOptions);
        byte[] file = System.Text.Encoding.UTF8.GetBytes(contents);
        using var streamRef = new DotNetStreamReference(new MemoryStream(file));
        await _downloadFileJsScript!.InvokeVoidAsync("BlazorDownloadFile", "Dividends Summary.txt", streamRef);
    }

    private async Task InvokeExportTrades()
    {
        string contents = calculationResultExportService.PrintToTextFile(years.SelectedOptions);
        byte[] file = System.Text.Encoding.UTF8.GetBytes(contents);
        using var streamRef = new DotNetStreamReference(new MemoryStream(file));
        await _downloadFileJsScript!.InvokeVoidAsync("BlazorDownloadFile", "Trades Calculation.txt", streamRef);
    }

    private async Task InvokeExportSection104()
    {
        string contents = ukSection104ExportService.PrintToTextFile(years.SelectedOptions);
        byte[] file = System.Text.Encoding.UTF8.GetBytes(contents);
        using var streamRef = new DotNetStreamReference(new MemoryStream(file));
        await _downloadFileJsScript!.InvokeVoidAsync("BlazorDownloadFile", "Section104.txt", streamRef);
    }
}
