@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.Model.Interfaces
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using InvestmentTaxCalculator.Model.TaxEvents
@using InvestmentTaxCalculator.Model.UkTaxModel
@using InvestmentTaxCalculator.Model.UkTaxModel.Stocks
@using Syncfusion.Blazor.SplitButtons
@using InvestmentTaxCalculator.Enumerations
@using InvestmentTaxCalculator.Components
@using InvestmentTaxCalculator.Services

@inject TradeCalculationResult tradeCalculationResult
@inject SfGridToolBarHandlingService _toolbarHandlingService

<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Matching Details</h3>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-secondary mb-0">
                The additional information can be edited to add your comments.
            </div>
        </div>
    </div>

    <div class="row me-3">
        <div class="col">
            <SfGrid ID="TradeMatchesGrid" @ref="tradeMatchesGrid" DataSource="@_tradeMatches"
                    AllowPaging="true" AllowSorting="true" AllowPdfExport="true" AllowExcelExport="true" AllowResizing="true" AllowFiltering="true" AllowTextWrap="true"
                    Toolbar="@(new List<string>() { "PdfExport", "ExcelExport", "Print" })">
                <!-- Enable editing on the grid, but disable editing per-column except AdditionalInformation -->
                <GridEditSettings AllowEditing="true"></GridEditSettings>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                <GridPageSettings PageSizes=@(new List<int>() {25, 50, 100}) PageSize="25"></GridPageSettings>
                <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="TradeMatch"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(TradeMatch.PersistedId) Visible="false" IsPrimaryKey="true"></GridColumn>
                    <GridColumn HeaderText="Disposal Date" Field=@nameof(TradeMatch.Date) AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(TradeMatch.AssetCategoryType) HeaderText="Asset Type"AllowEditing="false">
                        <Template>
                            @{
                                var data = (context as TradeMatch);
                                var type = data?.MatchedSellTrade?.AssetCategoryType ?? data?.MatchedBuyTrade?.AssetCategoryType;
                            }
                            <span>@type?.GetDescription()</span>
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(TradeMatch.AssetName) HeaderText="Asset Name" AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(TradeMatch.TradeMatchType) HeaderText="Match Type" AllowEditing="false">
                        <Template>
                            @{
                                var data = (context as TradeMatch);
                            }
                            <span>@data?.TradeMatchType.GetDescription()</span>
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@(nameof(TradeMatch.MatchedBuyTrade) + "." + nameof(ITradeTaxCalculation.Id))" HeaderText="Acquisition trade ID" AllowEditing="false"></GridColumn>
                    <GridColumn Field="@(nameof(TradeMatch.MatchedSellTrade) + "." + nameof(ITradeTaxCalculation.Id))" HeaderText="Disposal trade ID" AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(TradeMatch.MatchAcquisitionQty) HeaderText="Matched Acquisition Quantity" AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(TradeMatch.MatchDisposalQty) HeaderText="Matched Disposal Quantity" AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(TradeMatch.BaseCurrencyMatchDisposalProceed) HeaderText="Disposal Proceed" AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(TradeMatch.BaseCurrencyMatchDisposalProceed) HeaderText="Allowable Cost" AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(TradeMatch.MatchGain) HeaderText="Gain" AllowEditing="false"></GridColumn>
                    <!-- Only this column is editable -->
                    <GridColumn Field=@nameof(TradeMatch.AdditionalInformation) HeaderText="Additional Information" AllowEditing="true"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {
    private SfGrid<TradeMatch> tradeMatchesGrid = default!;

    // Data source: flatten match history into TradeMatch records
    private IEnumerable<TradeMatch> _tradeMatches => GetTradeMatches();

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        await _toolbarHandlingService.ToolbarClickHandler(args, tradeMatchesGrid);
    }

    public IEnumerable<TradeMatch> GetTradeMatches()
    {
        // Each calculated trade (disposal) contains zero or more TradeMatch entries in MatchHistory
        return tradeCalculationResult.CalculatedTrade
            .Where(trade => trade.AcquisitionDisposal == TradeType.DISPOSAL)
            .SelectMany(trade => trade.MatchHistory)
            .ToList();
    }
}
