@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.ViewModel
@using InvestmentTaxCalculator.Model.Interfaces
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using InvestmentTaxCalculator.Model.TaxEvents
@using InvestmentTaxCalculator.Model.UkTaxModel
@using Syncfusion.Blazor.SplitButtons
@using InvestmentTaxCalculator.Enumerations
@using InvestmentTaxCalculator.Components
@using InvestmentTaxCalculator.Services

@inject UkSection104Pools section104Pools
@inject SfGridToolBarHandlingService _toolbarHandlingService
@inject TaxCalculationService TaxCalculationService
@implements IDisposable

<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Section 104 history</h3>
        </div>
    </div>
    <div class="row me-3">
        <div class="col">
            <SfGrid ID="Section104HistoryGrid" @ref="section104HistoryGrid" DataSource="@_section104HistoryViewModels"
                    AllowPaging="true" AllowSorting="true" AllowPdfExport="true" AllowExcelExport="true" AllowResizing="true" AllowFiltering="true" AllowTextWrap="true"
                    Toolbar="@(new List<string>() { "PdfExport", "ExcelExport", "Print" })">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                <GridPageSettings PageSizes=@(new List<int>() {25, 50, 100}) PageSize="25"></GridPageSettings>
                <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="Section104HistoryViewModel"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.AssetName) HeaderText="Asset Name"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.TradeId) HeaderText="Trade ID"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.Date) HeaderText="Date" Format="d"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.OldQuantity) HeaderText="Old Quantity"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.QuantityChange) HeaderText="Quantity Change"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.NewQuantity) HeaderText="New Quantity"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.OldValue) HeaderText="Old Value"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.ValueChange) HeaderText="Value Change"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.NewValue) HeaderText="New Value"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.OldContractValue) HeaderText="Old Contract Value"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.ContractValueChange) HeaderText="Contract Value Change"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.NewContractValue) HeaderText="New Contract Value"></GridColumn>
                    <GridColumn Field=@nameof(Section104HistoryViewModel.Explaination) HeaderText="Explaination"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>


@code {
    private SfGrid<Section104HistoryViewModel>? section104HistoryGrid;
    private List<Section104HistoryViewModel> _section104HistoryViewModels = [];

    protected override void OnInitialized()
    {
        RefreshData();
        TaxCalculationService.OnStateChanged += HandleTaxCalculationStateChanged;
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (section104HistoryGrid != null)
        {
            await _toolbarHandlingService.ToolbarClickHandler(args, section104HistoryGrid);
        }
    }

    private void HandleTaxCalculationStateChanged()
    {
        _ = InvokeAsync(async () =>
        {
            if (TaxCalculationService.IsCalculating)
            {
                return;
            }

            RefreshData();
            StateHasChanged();
            if (section104HistoryGrid != null)
            {
                await section104HistoryGrid.Refresh();
            }
        });
    }

    private void RefreshData()
    {
        _section104HistoryViewModels = Section104HistoryViewModel
            .GetSection104Data(section104Pools)
            .Where(x => x is not null)
            .Select(x => x!)
            .ToList();
    }

    public void Dispose()
    {
        TaxCalculationService.OnStateChanged -= HandleTaxCalculationStateChanged;
    }
}



