@page "/"

<p>Welcome to the UK investment tax calculator application.</p>

<p>This application is designed to accept broker statements (only Interactive Brokers XML statement currently) and output taxable gains and losses according to normal trade matching rules.</p>

<p>Also report dividends and witholding tax paid by countries.</p>

<p>To sum up this application assist you filling out the SA106, SA108 tax form.</p>

<p>Permission to use the software is granted under the MIT license.</p>

<p>
	<strong>
		This software serves as an assistive tool only and does not handle many of the exceptions in the tax law nor is the correctness of its output warranted.<br />
		The tax payers are responsible for verifying that they are reporting correct data in their tax forms.
	</strong>
</p>

<p>MIT License</p>

<p>Copyright (c) 2023 Ka Wing Pun</p>

<p>
	The front end contains components from Syncfusion.
	If you need to access Syncfusion's binaries or compile any part of this project
	containing syncfusion code, or anything linked to or dependent on this project,
	you would need to contact Syncfusion to receive either an eligible community
	license or a paid license.
</p>

<p>
	Permission is hereby granted, free of charge, to any person obtaining a copy<br />
	of this software and associated documentation files (the &quot;Software&quot;), to deal<br />
	in the Software without restriction, including without limitation the rights<br />
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br />
	copies of the Software, and to permit persons to whom the Software is<br />
	furnished to do so, subject to the following conditions:
</p>

<p>
	The above copyright notice and this permission notice shall be included in all<br />
	copies or substantial portions of the Software.
</p>

<p>
	<strong>
		THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
		IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br />
		FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br />
		AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br />
		LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br />
		OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br />
		SOFTWARE.
	</strong>
</p>
