@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Lists
@inject NavigationManager Navigation
<SfButton OnClick="ToggleMenu" class=open-menu-button>>></SfButton>
<SfSidebar ref="NavBar" Width="220px" MediaQuery="(min-width:600px)" @bind-IsOpen="SidebarToggle" Type="SidebarType.Auto">
    <ChildContent>
        <SfListView DataSource="@List" TValue="ListData" CssClass="e-template-list">
            <ListViewFieldSettings TValue="ListData" Id="Id" Text="Text"></ListViewFieldSettings>
            <ListViewEvents TValue="ListData" Clicked="OnSelect"></ListViewEvents>
        </SfListView>
        <div class="sidebar-content mt-3">
            <SfButton OnClick="ToggleMenu" class="close-menu-button">Close menu</SfButton>
        </div>
    </ChildContent>
</SfSidebar>

<style>
    .e-listview .e-list-item {
        text-align: center;
        font-size: 14px;
        padding: 0;
    }

    .sidebar-content {
        display: flex;
        flex-direction: column; /* Stack children vertically */
        justify-content: center; /* Center children vertically */
        align-items: center; /* Center children horizontally */
    }
</style>

@code {
    public bool SidebarToggle { get; set; } = true;
    // Specify the value of ListView component DataSource property.
    public List<ListData> List { get; set; } = new List<ListData>
    {
        new ListData {Id="1", Text = "Home", PageAddress = ""},
        new ListData {Id="2",Text = "Import/Export", PageAddress = "MainCalculatorPage"},
        new ListData {Id="3",Text = "CGT Yearly Summary", PageAddress = "CgtYearlyTaxSummaryPage"},
        new ListData {Id="4",Text = "Dividend/income Summary", PageAddress = "DividendYearlyTaxSummaryPage"},
        new ListData {Id="5",Text = "Disposal Summary", PageAddress = "CalculationViewPage"},
        new ListData {Id="6", Text = "Trade Matches", PageAddress = "TradeMatchPage"},
        new ListData {Id="7", Text = "Dividend/income Data", PageAddress = "DividendDataPage"},
        new ListData {Id="8", Text = "Section 104 Data", PageAddress = "Section104DataPage"},
        new ListData {Id="9", Text = "Add Trades", PageAddress = "AddTradePage"},
        new ListData {Id="10", Text = "Conversion", PageAddress = "ConvertPage"},
        new ListData {Id="11", Text = "PDF Report", PageAddress = "PdfReportPage"},
        new ListData {Id="12", Text = "Residency Status", PageAddress = "ResidencyStatusPage"},
        new ListData {Id="13", Text = "ERI and Equalisation", PageAddress = "AddExcessReportableIncome"},
        new ListData {Id="14", Text = "Acknowledgement", PageAddress = "AcknowledgementPage"}
        ,
    };

    public class ListData
    {
        public required string Id { get; set; }
        public required string Text { get; set; }
        public required string PageAddress { get; set; }
    }

    // Specifies the event handler for Clicked event in ListView component.
    public void OnSelect(Syncfusion.Blazor.Lists.ClickEventArgs<ListData> args)
    {
        Navigation.NavigateTo(Navigation.BaseUri + args.ItemData.PageAddress);
    }

    public void ToggleMenu()
    {
        SidebarToggle = !SidebarToggle;
    }
}
